body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
input, button {
  padding: 10px;
  margin: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
button {
  background-color: #2b8bff;
  color: white;
  border: none;
}